.navbar .nav li img{
  margin-top: -8px;
  margin-bottom: -6px;
  margin-right: 3px;
}

img.avatar {
  border-radius: 20px;
  -webkit-mask-box-image: url(../img/meegomask.png);
  width: 64px;
  height: 64px;
}
img.avatar.small {
  border-radius: 10px;
  width: 32px;
  height: 32px;
}

.row .span2 .nav-list li i {
  margin-right: 0.5em;
}